.sort-buttons-group {
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
}

.sort-icon-btn {
  z-index: 999;
  --icon-fill: var(--content-secondary);
  --icon-fill-hover: var(--content-secondary);
  width: var(--spacing-08);
  height: var(--spacing-08);
  background: none;
  border: none;
  padding: var(--spacing-00);
  color: var(--content-secondary);
  cursor: var(--c-pointer);
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-00);
  transition: transform 0.1s ease;
  position: relative;
}

.sort-icon-btn:hover {
  color: var(--content-primary);
  background: var(--background);
}

.sort-icon-btn:focus {
  outline: 1px solid var(--button-primary);
  outline-offset: 2px;
}

.sort-icon {
  stroke: currentColor;
}